## TP1 part 2
Data taken from https://archive.ics.uci.edu/ml/machine-learning-databases/forest-fires/  
Can we find if there was a fire based on day, DMC, temp, win, rain  
DMC is a numerical rating of the average moisture content

#### Loading libraries, packages & the data

In [1]:
# libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# Handling missing data 
from sklearn.impute import SimpleImputer

# Encoding categorical Data
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import LabelEncoder

# Splitting the dataset into the Training set and Test set
from sklearn.model_selection import train_test_split

# Feature Scaling
from sklearn.preprocessing import StandardScaler

# Linear Regression
from sklearn.linear_model import LinearRegression

In [2]:
# Load data
fires_df_original = pd.read_csv('forestfires.csv')
# Make a copy of data
fires_df = fires_df_original.copy()
print(fires_df)

X  Y month  day  FFMC    DMC     DC   ISI  temp  RH  wind  rain   area
0    7  5   mar  fri  86.2   26.2   94.3   5.1   8.2  51   6.7   0.0   0.00
1    7  4   oct  tue  90.6   35.4  669.1   6.7  18.0  33   0.9   0.0   0.00
2    7  4   oct  sat  90.6   43.7  686.9   6.7  14.6  33   1.3   0.0   0.00
3    8  6   mar  fri  91.7   33.3   77.5   9.0   8.3  97   4.0   0.2   0.00
4    8  6   mar  sun  89.3   51.3  102.2   9.6  11.4  99   1.8   0.0   0.00
..  .. ..   ...  ...   ...    ...    ...   ...   ...  ..   ...   ...    ...
512  4  3   aug  sun  81.6   56.7  665.6   1.9  27.8  32   2.7   0.0   6.44
513  2  4   aug  sun  81.6   56.7  665.6   1.9  21.9  71   5.8   0.0  54.29
514  7  4   aug  sun  81.6   56.7  665.6   1.9  21.2  70   6.7   0.0  11.16
515  1  4   aug  sat  94.4  146.0  614.7  11.3  25.6  42   4.0   0.0   0.00
516  6  3   nov  tue  79.5    3.0  106.7   1.1  11.8  31   4.5   0.0   0.00

[517 rows x 13 columns]

#### Checking the structure of the data & extract features

In [3]:
# This method prints information about a DataFrame including the index dtype and column dtypes, non-null values and memory usage.
fires_df.info()
print('Dataset shape: ', fires_df.shape, sep="")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 517 entries, 0 to 516
Data columns (total 13 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   X       517 non-null    int64
 1   Y       517 non-null    int64
 2   month   517 non-null    object
 3   day     517 non-null    object
 4   FFMC    517 non-null    float64
 5   DMC     517 non-null    float64
 6   DC      517 non-null    float64
 7   ISI     517 non-null    float64
 8   temp    517 non-null    float64
 9   RH      517 non-null    int64
 10  wind    517 non-null    float64
 11  rain    517 non-null    float64
 12  area    517 non-null    float64
dtypes: float64(8), int64(3), object(2)
memory usage: 52.6+ KB
Dataset shape: (517, 13)

In [4]:
# checking description for 1 column
fires_df.temp.describe()

count    517.000000
mean      18.889168
std        5.806625
min        2.200000
25%       15.500000
50%       19.300000
75%       22.800000
max       33.300000
Name: temp, dtype: float64

In [5]:
# List the top 5 rows
fires_df.head(5)

   X  Y month  day  FFMC   DMC     DC  ISI  temp  RH  wind  rain  area
0  7  5   mar  fri  86.2  26.2   94.3  5.1   8.2  51   6.7   0.0   0.0
1  7  4   oct  tue  90.6  35.4  669.1  6.7  18.0  33   0.9   0.0   0.0
2  7  4   oct  sat  90.6  43.7  686.9  6.7  14.6  33   1.3   0.0   0.0
3  8  6   mar  fri  91.7  33.3   77.5  9.0   8.3  97   4.0   0.2   0.0
4  8  6   mar  sun  89.3  51.3  102.2  9.6  11.4  99   1.8   0.0   0.0

#### Examining Missing Values

In [6]:
# Finding how many missing data are there in the dataset
total = fires_df.isnull().sum().sort_values(ascending=False)
percent = round(((fires_df.isnull().sum() / fires_df.isnull().count())*100),2).sort_values(ascending=False)
missing_data = pd.concat([total, percent], axis=1, keys=['Missing values', '% of Total values'])
missing_data

       Missing values  % of Total values
area                0                0.0
rain                0                0.0
wind                0                0.0
RH                  0                0.0
temp                0                0.0
ISI                 0                0.0
DC                  0                0.0
DMC                 0                0.0
FFMC                0                0.0
day                 0                0.0
month               0                0.0
Y                   0                0.0
X                   0                0.0

In [7]:
fires_df.columns

Index(['X', 'Y', 'month', 'day', 'FFMC', 'DMC', 'DC', 'ISI', 'temp', 'RH',
       'wind', 'rain', 'area'],
      dtype='object')

In [8]:
fires_df.shape

(517, 13)

#### Remove duplicate rows

In [9]:
print(fires_df.shape)  #  were there any duplicates?
fires_df = fires_df.drop_duplicates(keep = 'first')
print(fires_df.shape)

(517, 13)
(513, 13)

#### Drop all rows with NaN values in their columns

In [10]:
nan_cols = ['X', 'Y', 'month', 'day', 'FFMC', 'DMC', 'DC', 'ISI', 'temp', 'RH', 'wind', 'rain', 'area']
fires_df[nan_cols] = fires_df[nan_cols].replace("Nil", np.nan)  # dropping the rows having nil
fires_df.dropna(subset = nan_cols, inplace=True)
fires_df.shape

(513, 13)

#### Dropping irrelevant cols

In [11]:
fires_df = fires_df.drop(columns=['X', 'Y', 'month', 'FFMC', 'DC', 'ISI', 'RH', 'rain'], axis=1)

In [12]:
fires_df.shape

(513, 5)

In [13]:
fires_df.head(5)

   day   DMC  temp  wind  area
0  fri  26.2   8.2   6.7   0.0
1  tue  35.4  18.0   0.9   0.0
2  sat  43.7  14.6   1.3   0.0
3  fri  33.3   8.3   4.0   0.0
4  sun  51.3  11.4   1.8   0.0

In [14]:
fires_df.area.describe()

count     513.000000
mean       12.891598
std        63.892586
min         0.000000
25%         0.000000
50%         0.540000
75%         6.570000
max      1090.840000
Name: area, dtype: float64

#### Extract features

In [15]:
x = fires_df.iloc[:,:-1].values
y = fires_df.iloc[:,-1].values

In [16]:
x

array([['fri', 26.2, 8.2, 6.7],
       ['tue', 35.4, 18.0, 0.9],
       ['sat', 43.7, 14.6, 1.3],
       ...,
       ['sun', 56.7, 21.2, 6.7],
       ['sat', 146.0, 25.6, 4.0],
       ['tue', 3.0, 11.8, 4.5]], dtype=object)

In [17]:
y

array([0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
       0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
       0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
       0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
       0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
       0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
       0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
       0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
       0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
       0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
       0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
       0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
       0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
       0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
       0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
       0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
       0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
       0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
       0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
       0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
       0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
       0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
       0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
       0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
       0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
       0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
       0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
       0.00000e+00, 3.60000e-01, 4.30000e-01, 4.70000e-01, 5.50000e-01,
       6.10000e-01, 7.10000e-01, 7.70000e-01, 9.00000e-01, 9.50000e-01,
       9.60000e-01, 1.07000e+00, 1.12000e+00, 1.19000e+00, 1.36000e+00,
       1.43000e+00, 1.46000e+00, 1.46000e+00, 1.56000e+00, 1.61000e+00,
       1.63000e+00, 1.64000e+00, 1.69000e+00, 1.75000e+00, 1.90000e+00,
       1.94000e+00, 1.95000e+00, 2.01000e+00, 2.14000e+00, 2.29000e+00,
       2.51000e+00, 2.53000e+00, 2.55000e+00, 2.57000e+00, 2.69000e+00,
       2.74000e+00, 3.07000e+00, 3.50000e+00, 4.53000e+00, 4.61000e+00,
       4.69000e+00, 4.88000e+00, 5.23000e+00, 5.33000e+00, 5.44000e+00,
       6.38000e+00, 6.83000e+00, 6.96000e+00, 7.04000e+00, 7.19000e+00,
       7.30000e+00, 7.40000e+00, 8.24000e+00, 8.31000e+00, 8.68000e+00,
       8.71000e+00, 9.41000e+00, 1.00100e+01, 1.00200e+01, 1.09300e+01,
       1.10600e+01, 1.12400e+01, 1.13200e+01, 1.15300e+01, 1.21000e+01,
       1.30500e+01, 1.37000e+01, 1.39900e+01, 1.45700e+01, 1.54500e+01,
       1.72000e+01, 1.92300e+01, 2.34100e+01, 2.42300e+01, 2.60000e+01,
       2.61300e+01, 2.73500e+01, 2.86600e+01, 2.94800e+01, 3.03200e+01,
       3.17200e+01, 3.18600e+01, 3.20700e+01, 3.58800e+01, 3.68500e+01,
       3.70200e+01, 3.77100e+01, 4.85500e+01, 4.93700e+01, 5.83000e+01,
       6.41000e+01, 7.13000e+01, 8.84900e+01, 9.51800e+01, 1.03390e+02,
       1.05660e+02, 1.54880e+02, 1.96480e+02, 2.00940e+02, 2.12880e+02,
       1.09084e+03, 0.00000e+00, 0.00000e+00, 0.00000e+00, 1.01300e+01,
       0.00000e+00, 2.87000e+00, 7.60000e-01, 9.00000e-02, 7.50000e-01,
       0.00000e+00, 2.47000e+00, 6.80000e-01, 2.40000e-01, 2.10000e-01,
       1.52000e+00, 1.03400e+01, 0.00000e+00, 8.02000e+00, 6.80000e-01,
       0.00000e+00, 1.38000e+00, 8.85000e+00, 3.30000e+00, 4.25000e+00,
       1.56000e+00, 6.54000e+00, 7.90000e-01, 1.70000e-01, 0.00000e+00,
       0.00000e+00, 4.40000e+00, 5.20000e-01, 9.27000e+00, 3.09000e+00,
       8.98000e+00, 1.11900e+01, 5.38000e+00, 1.78500e+01, 1.07300e+01,
       2.20300e+01, 9.77000e+00, 9.27000e+00, 2.47700e+01, 0.00000e+00,
       1.10000e+00, 2.42400e+01, 0.00000e+00, 0.00000e+00, 0.00000e+00,
       0.00000e+00, 0.00000e+00, 0.00000e+00, 8.00000e+00, 2.64000e+00,
       8.64500e+01, 6.57000e+00, 0.00000e+00, 9.00000e-01, 0.00000e+00,
       0.00000e+00, 0.00000e+00, 0.00000e+00, 3.52000e+00, 0.00000e+00,
       0.00000e+00, 0.00000e+00, 4.10000e-01, 5.18000e+00, 0.00000e+00,
       0.00000e+00, 0.00000e+00, 1.42900e+01, 0.00000e+00, 0.00000e+00,
       1.58000e+00, 0.00000e+00, 0.00000e+00, 3.78000e+00, 0.00000e+00,
       4.41000e+00, 3.43600e+01, 7.21000e+00, 1.01000e+00, 2.18000e+00,
       4.42000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
       3.33000e+00, 6.58000e+00, 1.56400e+01, 1.12200e+01, 2.13000e+00,
       0.00000e+00, 0.00000e+00, 0.00000e+00, 5.60400e+01, 7.48000e+00,
       1.47000e+00, 3.93000e+00, 0.00000e+00, 0.00000e+00, 2.18000e+00,
       6.10000e+00, 5.83000e+00, 2.81900e+01, 0.00000e+00, 0.00000e+00,
       1.64000e+00, 3.71000e+00, 7.31000e+00, 2.03000e+00, 1.72000e+00,
       5.97000e+00, 1.30600e+01, 1.26000e+00, 0.00000e+00, 0.00000e+00,
       8.12000e+00, 1.09000e+00, 3.94000e+00, 5.20000e-01, 2.93000e+00,
       5.65000e+00, 2.00300e+01, 1.75000e+00, 0.00000e+00, 1.26400e+01,
       0.00000e+00, 1.10600e+01, 0.00000e+00, 0.00000e+00, 0.00000e+00,
       1.83000e+01, 3.93500e+01, 0.00000e+00, 1.74630e+02, 0.00000e+00,
       0.00000e+00, 7.73000e+00, 1.63300e+01, 5.86000e+00, 4.28700e+01,
       1.21800e+01, 1.60000e+01, 2.45900e+01, 0.00000e+00, 2.87400e+01,
       0.00000e+00, 9.96000e+00, 3.01800e+01, 7.07600e+01, 0.00000e+00,
       0.00000e+00, 5.17800e+01, 3.64000e+00, 3.63000e+00, 0.00000e+00,
       0.00000e+00, 8.16000e+00, 4.95000e+00, 0.00000e+00, 0.00000e+00,
       6.04000e+00, 0.00000e+00, 3.95000e+00, 0.00000e+00, 7.80000e+00,
       0.00000e+00, 0.00000e+00, 4.62000e+00, 1.63000e+00, 0.00000e+00,
       0.00000e+00, 7.46280e+02, 7.02000e+00, 0.00000e+00, 2.44000e+00,
       3.05000e+00, 1.85760e+02, 0.00000e+00, 6.30000e+00, 7.20000e-01,
       4.96000e+00, 0.00000e+00, 0.00000e+00, 2.35000e+00, 0.00000e+00,
       3.20000e+00, 0.00000e+00, 6.36000e+00, 0.00000e+00, 1.53400e+01,
       0.00000e+00, 0.00000e+00, 5.40000e-01, 0.00000e+00, 6.43000e+00,
       3.30000e-01, 0.00000e+00, 1.23000e+00, 3.35000e+00, 0.00000e+00,
       9.96000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
       0.00000e+00, 6.43000e+00, 9.71000e+00, 0.00000e+00, 0.00000e+00,
       0.00000e+00, 0.00000e+00, 0.00000e+00, 8.27500e+01, 3.32000e+00,
       1.94000e+00, 0.00000e+00, 0.00000e+00, 3.71000e+00, 5.39000e+00,
       2.14000e+00, 6.84000e+00, 3.18000e+00, 5.55000e+00, 6.61000e+00,
       6.11300e+01, 0.00000e+00, 3.84800e+01, 1.94000e+00, 7.03200e+01,
       1.00800e+01, 3.19000e+00, 1.76000e+00, 7.36000e+00, 2.21000e+00,
       2.78530e+02, 2.75000e+00, 0.00000e+00, 1.29000e+00, 0.00000e+00,
       2.64300e+01, 2.07000e+00, 2.00000e+00, 1.64000e+01, 4.67000e+01,
       0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 4.33200e+01,
       8.59000e+00, 0.00000e+00, 2.77000e+00, 1.46800e+01, 4.05400e+01,
       1.08200e+01, 0.00000e+00, 0.00000e+00, 0.00000e+00, 1.95000e+00,
       4.95900e+01, 5.80000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
       2.17000e+00, 4.30000e-01, 0.00000e+00, 6.44000e+00, 5.42900e+01,
       1.11600e+01, 0.00000e+00, 0.00000e+00])

#### Applying one hot encoder

In [18]:
ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), [0])], remainder='passthrough')
x = np.array(ct.fit_transform(x))

In [19]:
x

array([[1.0, 0.0, 0.0, ..., 26.2, 8.2, 6.7],
       [0.0, 0.0, 0.0, ..., 35.4, 18.0, 0.9],
       [0.0, 0.0, 1.0, ..., 43.7, 14.6, 1.3],
       ...,
       [0.0, 0.0, 0.0, ..., 56.7, 21.2, 6.7],
       [0.0, 0.0, 1.0, ..., 146.0, 25.6, 4.0],
       [0.0, 0.0, 0.0, ..., 3.0, 11.8, 4.5]], dtype=object)

#### Split data into train & test

In [20]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 1)

#### Feature Scaling

In [23]:
x_train

array([[0.0, 0.0, 0.0, ..., 108.3, 16.6, 5.4],
       [1.0, 0.0, 0.0, ..., 13.2, 12.3, 0.9],
       [0.0, 0.0, 0.0, ..., 276.3, 21.9, 4.0],
       ...,
       [0.0, 0.0, 0.0, ..., 49.5, 28.0, 4.5],
       [0.0, 0.0, 1.0, ..., 121.1, 25.1, 4.0],
       [1.0, 0.0, 0.0, ..., 41.5, 11.3, 5.4]], dtype=object)

In [24]:
sc_x = StandardScaler()
x_train = sc_x.fit_transform(x_train)
x_test = sc_x.transform(x_test)

In [25]:
x_train

array([[-0.4380188 , -0.39361095, -0.4380188 , ..., -0.01895648,
        -0.36976457,  0.75898409],
       [ 2.28300705, -0.39361095, -0.4380188 , ..., -1.48200522,
        -1.09088728, -1.71377883],
       [-0.4380188 , -0.39361095, -0.4380188 , ...,  2.56560912,
         0.5190611 , -0.01031993],
       ...,
       [-0.4380188 , -0.39361095, -0.4380188 , ..., -0.92355444,
         1.54204913,  0.2644315 ],
       [-0.4380188 , -0.39361095,  2.28300705, ...,  0.1779628 ,
         1.05571056, -0.01031993],
       [ 2.28300705, -0.39361095, -0.4380188 , ..., -1.046629  ,
        -1.25859023,  0.75898409]])